<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="icon" type="ico" href="./img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple soccer news scraper">
    <meta name="author" content="Kenny Whitebloom">

    <title>Soccer News Scraper</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local stylesheet -->
    <link href="./css/styles.css" rel="stylesheet">

</head>

<body id="landing">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Soccer News Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="scrape-articles">Scrape Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="clear-articles">Clear Articles</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    {{{body}}}

</body>

</html>