@import url('https://fonts.googleapis.com/css?family=Lato|Concert+One');

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-family: "Concert One";
}

#landing {
  background: url('../img/stadium.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* height: 100vh; */
  width: 100%;
}

#scrape-articles:hover,
#clear-articles:hover {
    cursor: pointer;
}

.add-note:hover,
.save-article:hover,
.delete-article:hover {
    cursor: pointer;
}

.card-columns {
    background-color: rgba(245, 245, 245, 0.4);
}